@{
    var isChecked = Request["check"] == "on";
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>
    </head>
    <body>
        <form method="post">
            <input type="checkbox" name="check" checked="@isChecked" /> @isChecked
            <br />
            <input type="submit" />
        </form>
    </body>
</html>
