@{
    Layout = "~/_Layout.cshtml";
    string red = null;
    string black = "red";
}
<div id="content" class="@red @black">
    <span class="cap">A</span>liquam mi turpis, rutrum vitae sagittis ut, fermentum at 
    massa. Mauris a elit libero, non tincidunt nunc. Donec ac sem eros. Suspendisse 
    tincidunt sollicitudin adipiscing. Nullam cursus iaculis purus, vel iaculis urna 
    porttitor id. Aenean et lorem vel est tristique luctus. Morbi pharetra justo non 
    urna aliquet ut sollicitudin dolor consectetur. Curabitur tincidunt eleifend erat, 
    et pharetra nisi sagittis vel. Vivamus quis fermentum purus. Proin tellus diam, 
    accumsan sit amet feugiat vel, blandit sed turpis.
</div>

