@{
    Layout = "~/_Layout.cshtml";
}
<h1>Page 2</h1>
<div id="content">
    <span class="cap">S</span>ed neque augue, adipiscing id mollis dictum, hendrerit id elit. Morbi hendrerit, 
    turpis eu ullamcorper tempor, nisl arcu sodales odio, sed dapibus metus odio sed 
    augue. Proin in libero vel erat dapibus malesuada. Aliquam porttitor consectetur 
    porta. Proin egestas convallis pharetra. Quisque ultrices consectetur enim, vel 
    adipiscing mi rutrum ut. Proin ut odio ante. Morbi urna turpis, malesuada eget 
    eleifend a, pharetra nec magna. Aliquam interdum nisl ut justo fringilla sed 
    pretium arcu vehicula. Class aptent taciti sociosqu ad litora torquent per 
    conubia nostra, per inceptos himenaeos. Nullam eu dapibus magna. Donec viverra 
    suscipit elit mattis luctus. Donec magna mi, mollis ut vestibulum vitae, facilisis 
    et nunc. Aenean a venenatis sapien. Nulla porttitor ornare rhoncus.
</div>