@{
    Layout = "~/_Layout.cshtml";
}
<h1>Page 1</h1>
<div id="content">
    <span class="cap">L</span>orem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tortor odio, 
    tempus semper consequat a, rhoncus sit amet nunc. Nullam ullamcorper hendrerit hendrerit. 
    Fusce id tellus urna. Maecenas lectus eros, convallis vitae hendrerit eget, suscipit nec nisi. 
    Proin convallis elementum metus vitae eleifend. Fusce tincidunt metus at eros tempus at 
    egestas elit euismod. Maecenas iaculis posuere malesuada. Aenean ut lectus auctor arcu 
    luctus consectetur. Integer vitae leo in nisi ornare scelerisque in ac arcu. Sed eget 
    tortor eu odio eleifend condimentum. Etiam porttitor, quam vitae iaculis cursus, elit 
    tortor egestas massa, a dapibus neque dui sit amet tellus.
</div>